<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


</head>
<body id="bg">

    <img src="static/ebay_logo.png" width="180px"  class="center"> </img>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="/product">product</a>
        <a href="/cart"> cart</a>
         <input type="text" placeholder="Search..">
</div>
    <h1>Best TV shows merch Ebay store</h1>
    <h4>*Those are my personal favorite shows and actually they're the best overall:)[FACT]</h4>   
    <div class="container">
      <div class="row">
        <div class="col-sm-4" id="f">
          <h3>F・R・I・E・N・D・S</h3>
          <p>Follow the lives of six reckless adults living in Manhattan, as they indulge in adventures which make their lives both troublesome and happening.</p>
          <img src="static/friends1.jpg" width=200 ></img> 
          <img src="static/friends2.jpg" width=200 ></img> 

        </div>
        <div class="col-sm-4" id="g">
          <h3>Gilmore Girls</h3>
          <p>Lorelai Gilmore, an independent young woman, shares a close bond with her wilful daughter, Rory. However, her relationship with her own mother is strained.</p>
        <img src="static/gg1.jpg" width=200 ></img> 
        <img src="static/gg2.jpg" width=200 height=215></img> 
         
        </div>
        <div class="col-sm-4" id="h">
          <h3>HIMYM</h3>
          <p>Ted Mosby, an architect, recounts to his children the events that led him to meet their mother. His journey is made more eventful by the presence of his friends Lily, Marshall, Robin and Barney.</p>
          <img src="static/himym1.jpeg" width=200></img> 
          <img src="static/himym2.jpeg" width=200></img>
        </div>
      </div>
    </div>
</body>
</html>